extends layout

block content
  h3 Add client
  form.form-inline
    div.form-group
      div.col-xs-3
        input(name="email" placeholder="Email").form-control
    div.form-group
      div.col-xs-3
        input(type="submit" value="Add peer").btn.btn-primary
