extends layout

block content
  h3 Add client
  form.form-inline(method="post" action="/add")
    div.form-group
      div.col-xs-3
        input(name="email" placeholder="Email").form-control
    div.form-group
      div.col-xs-3
        input(type="submit" value="Add peer").btn.btn-primary

  h3 Peers
  table.table.table-striped
    tr
      th Email
      th Actions
    each node in nodes
      tr
        td= node.email
        td
          span.password.hidden= node.password
          button.qr.btn.btn-default QR Code
