doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src="/js/zepto.min.js")
    script(src="/js/script.js")
  body
    div(class="navbar navbar-inverse")
      div.container
        div.navbar-header
          a.navbar-brand= title
    div.container
      block content
